*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #222;
    h2{
        color: white;
    }
}
header{
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}
nav{
    background-color: #444;
    padding: 20px;
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color ease 0.3s;
}
a:hover{
    color: #ff6347;
}
#about-me{
    h2{
        text-align: center;
        margin: 40px 0;
        color: white;
    }
    text-align: center;
    margin-bottom: 30px;
    img{
        width: 200px;
        height: 200px;
        border-radius: 10%;
        object-fit: contain;
        margin-bottom: 20px;
    }
    p{
        max-width: 600px;
        margin: 20px auto;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }
    h3{
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
    }
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects{
    margin-top: 60px;
    h2{
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 30px;
    }
} 
#mainp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.project{
    background-color: #e2e2e2;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    p{
        padding: 5px auto;
    }
}
.project img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 15px;
}
#contact{
    margin-top: 60px;
    h2{
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 30px;
    }
}
form{
    background-color: whitesmoke;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    label, input, textarea{
        margin-bottom: 15px;
        font-weight: bold;
    }
    input, textarea{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }
    button{
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color ease 0.3s;
    }
    button:hover{
        background-color: #ff6347;
    }
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}